%h1 おすすめ商品
- @products.each do |product|
  %h2
    = product.name
  %p
    = product.category_name
  %p
    = product.display_price
  %p
    = product.display_image
  %p
    = product.display_description
